{% extends 'layout.html' %}
{% block content %}
<div class="luffy-container" style="margin: 50px">
        <form class="form-horizontal clearfix" method="post" action="" novalidate>
            {% csrf_token %}

            {% for field in role_obj %}
                <div class="form-group col-sm-6 clearfix">
                    <label class="col-sm-3 control-label">{{ field.label }}</label>
                    <div class="col-sm-9">
                        {{ field }} <span style="color:firebrick;">{{ field.errors.0 }}</span>
                    </div>
                </div>
            {% endfor %}
            <div class="form-group col-sm-12">
                <div class="col-sm-9">
                    <div class="col-sm-offset-7">
                        <button type="submit" class="btn btn-primary">提 交</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}